

{% extends "base/base.html" %}
{% block block_body_not_nav %}
<div style="padding-top: 160px;"></div>
<h1 class="text-center mt-5 mb-4 display-1" style="font-size: 8rem;">Change Password Success</h1>
<p class="text-center mb-4" style="font-size: 1.2rem;">Your password has been changed.</p>

<div class="d-flex text-center justify-content-center" style="margin-top: 60px;">
<div class="button--third" style="width:16%">
    <a href="{% url 'register:login' %}" class="button--third--button">Click here to Login</a>
  </div>
</div>
<div style="padding-top: 200px;"></div>


{% endblock block_body_not_nav%}
