{% extends "base/base.html" %}
{% block block_body_not_nav %}
<div style="padding-top: 160px;"></div>
<h1 class="text-center mt-5 mb-4 display-1" style="font-size: 8rem;">CHECK YOUR MAIL</h1>
<p class="text-center mb-4" style="font-size: 1.2rem;">We have sended you reset password link on your email. Please Check Your Email.</p>

<div class="d-flex text-center justify-content-center" style="margin-top: 60px;">
<div class="button--third" style="width:16%">
    <a href="{% url 'home:index' %}" class="button--third--button">back Home</a>
  </div>
</div>
<div style="padding-top: 200px;"></div>


{% endblock block_body_not_nav%}
