{% extends "base/base.html" %}
{% block block_body_not_nav %}
{% load static %}




<header class="header">
  <div class="container">
    <div class="layout">
      <nav class="header__left">
        <div class="header__logo">
          <a href="{% url 'home:index' %}"><img src={% static 'img/header.svg' %} alt="uniqlo"
              class="header__logo--img"></a>
        </div>
        <div class="header__list header__list--category">
          <div>
          </div>
        </div>
      </nav>
      <nav class="header__right">

      </nav>
    </div>
  </div>
</header>

<div style="padding-top: 150px;"></div>
<div class="container">
  <div class="form__layout">
    <div class="form__container">

      <div class="form__form--layout">
        <div class="form__form--container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <form action="" method="POST" enctype="multipart/form-data">
                <div style="padding: 40px;"></div>
                {% csrf_token %}
                <div class="" style="max-width:60rem; min-width:40rem">
                  <div class="" style="width:100%">
                    <!-- login -->
                    <div style="vertical-align: inherit; font-size: 36px;">
                      <h1 style="font-size: 36px;color: black;">NEW PASSWORD</h1>
                    </div>
                    <!-- comment dưới login -->
                    <div style="margin-top: 2rem; margin-bottom: 2rem;font-size: 1.5rem;">
                      <p>Please enter new password</p>
                    </div>
                    {% if error %}
                    <div class="alert alert-warning" role="alert">
                      <span>{{ error }}</span>
                    </div>
                    {% endif %}
                    <!-- mail address -->
                    <div>
                      <div class="form__form--content" style="min-width:40rem; max-width:50rem;">
                        <div class="form__row">
                          <div class="from__row--field">
                            <div class="form__text--field">
                              <div class="input__text--wrap">
                                <input type="password" name="new_password1" required id="id_new_password1"
                                  class="input__text--wrap--input" placeholder="**********">
                              </div>
                              <div class="form__text--title">
                                <div class="form__text--label">
                                  <label for="id_email" class="form__text--label--label">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">Password
                                      </font>
                                    </font>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="from__row--field">
                            <div class="form__text--field">
                              <div class="input__text--wrap">
                                <input type="password" name="new_password2" required id="id_new_password2"
                                  class="input__text--wrap--input" placeholder="**********">
                              </div>
                              <div class="form__text--title">
                                <div class="form__text--label">
                                  <label for="id_email" class="form__text--label--label">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">Confirm Password
                                      </font>
                                    </font>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- nút login -->
                        <div class="button--third" style="margin-top: 30px;">
                          <button type="submit" class="button--third--button">Change</button>
                        </div>
                        <!-- quên mật khẩu -->
                      </div>
                    </div>
                  </div>
                  <div style="padding: 40px;"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-top: 100px;"></div>

<!-- <h1 class="text-center mt-5 mb-4 display-3">Change Password</h1>

{% if error %}
  <div class="alert alert-warning" role="alert">
    <span>{{ error }}</span> 
</div>
{% endif %}
<form action="" method="POST" class="d-flex flex-column align-items-center" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3 w-50">
    <label for="id_password" class="form-label">Password</label>
    <input type="password"  name="new_password1" required="" id="id_new_password1" class="form-control">
  </div>
  <div class="mb-3 w-50">
    <label for="id_password" class="form-label">Password</label>
    <input type="password"  name="new_password2" required="" id="id_new_password2" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Change password</button>
</form> -->

{% endblock block_body_not_nav %}