{% extends "base/base.html" %}
{% block block_body_not_nav %}
{% load static %}



<header class="header">
  <div class="container">
    <div class="layout">
      <nav class="header__left">
        <div class="header__logo">
          <a href="{% url 'home:index' %}"><img src={% static 'img/header.svg' %} alt="uniqlo"
              class="header__logo--img"></a>
        </div>
        <div class="header__list header__list--category">
          <div>
          </div>
        </div>
      </nav>
      <nav class="header__right">

      </nav>
    </div>
  </div>
</header>

<div style="padding-top: 100px;"></div>
<div class="container">
  <div class="form__layout">
    <div class="form__container">

      <div class="form__form--layout">
        <div class="form__form--container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <form action="" method="POST" enctype="multipart/form-data">
                <div style="padding: 40px;"></div>
                {% csrf_token %}
                <div class="" style="max-width:60rem; min-width:40rem">
                  <div class="" style="width:100%">
                    <!-- login -->
                    <div style="vertical-align: inherit; font-size: 36px;">
                      <h1 style="font-size: 36px;color: black;">CHANGE PASSWORD</h1>
                    </div>
                    <!-- comment dưới login -->
                    <div style="margin-top: 2rem; margin-bottom: 2rem;font-size: 1.5rem;">
                      <p>Please enter old and new password</p>
                    </div>
                    {% if error %}
                    <div class="alert alert-warning" role="alert">
                      <span>{{ error }}</span>
                    </div>
                    {% endif %}
                    <!-- mail address -->
                    <div>
                      <div class="form__form--content" style="min-width:40rem; max-width:50rem;">
                        <div class="form__row">
                          <div class="from__row--field">
                            <div class="form__text--field">
                              <div class="input__text--wrap">
                                <input type="password" name="old_password" required="" id="id_old_password"
                                  class="input__text--wrap--input" placeholder="**********">
                              </div>
                              <div class="form__text--title">
                                <div class="form__text--label">
                                  <label for="old_password" class="form__text--label--label">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">Old password
                                      </font>
                                    </font>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="from__row--field">
                            <div class="form__text--field">
                              <div class="input__text--wrap">
                                <input type="password" name="new_password1" required id="id_new_password1"
                                  class="input__text--wrap--input" placeholder="**********">
                              </div>
                              <div class="form__text--title">
                                <div class="form__text--label">
                                  <label for="id_email" class="form__text--label--label">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">New Password
                                      </font>
                                    </font>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="from__row--field">
                            <div class="form__text--field">
                              <div class="input__text--wrap">
                                <input  type="password" name="new_password2" required id="id_new_password2"
                                  class="input__text--wrap--input" placeholder="**********">
                              </div>
                              <div class="form__text--title">
                                <div class="form__text--label">
                                  <label for="id_email" class="form__text--label--label">
                                    <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">Confirm New Password
                                      </font>
                                    </font>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mt-5 mb-5">
                          <a href="{% url 'appUser:userInfo' %}" style="color: black;">BACK TO PROFILE, CLICK HERE</a>
                        </div>
                        <!-- nút login -->
                        <div class="button--third" style="margin-top: 30px;">
                          <button type="submit" class="button--third--button">Confirm</button>
                        </div>
                        <!-- quên mật khẩu -->
                      </div>
                    </div>
                  </div>
                  <div style="padding: 40px;"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-top: 100px;"></div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="{% url 'home:index' %}">Uniqlo</a>
  </div>
</nav>


<h1 class="text-center mt-5 mb-4 display-3">Change Password</h1>

{% if error %}
  <div class="mb-3 mt-5 w-100 d-flex justify-content-center align-items-center" role="alert" >
    <div class="w-50 alert alert-secondary">{{ error }}</div> 
  </div>
{% endif %}
<form action="" method="POST" class="d-flex flex-column align-items-center">
  {% csrf_token %}
  <div class="mb-3 w-50">
    <label for="id_old_password" class="form-label">Old Password</label>
    <input type="password" name="old_password" required="" id="id_old_password" class="form-control">
  </div>
  <div class="mb-3 w-50">
    <label for="id_new_password1" class="form-label">New Password</label>
    <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control">
  </div>
  <div class="mb-3 w-50">
    <label for="id_new_password2" class="form-label">New password confirmation</label>
    <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control">
  </div>
  <button type="submit" class="btn btn-outline-dark">Change Password</button>
  <a class="mt-3" style="text-decoration: none; color: #212529; font-size: 16px" href="{% url 'appUser:userInfo' %}">Back</a>

</form> -->
   
{% endblock block_body_not_nav %}